*{  margin: 0;
    padding: 0;}

body {background-color:#666161;}

h1 {text-align: center;}

.row {margin-top: 1%;}

.offcanvas-body button {
    position: absolute;
    bottom: 15px;
    width: 98%;
    right: 10px;
    font-weight: bold;
    left: 5px;
    text-align: center;
    background-color: red;
    border-color: black;}

:root {
  --bg-color: rgb(31, 36, 45);
  --second-bg-color: #323946;
  --color-main: #0ef;}

.offcanvas-body button a{
    color: white;
    text-decoration: none;}

.card .d-flex{width: 30%;}

.card {
  display: flex;
  justify-content: flex-end;}